QMainWindow
{
     background-color: #404040;
     border-top:2px;
     border-bottom:2px;
     border-left:2px;
     border-right:2px;
}
 
QLineEdit 
{
     background-color: #404040; 
     border: 1px solid black;
     border-radius:5;
     font:14px;
}
 
QLabel
{
     background-color: #404040; 
     font:14px;
     color: white;
}
 
QPushButton
{
    color:green;    
    font:18px, "微软雅黑";
    background-color:rgb(0,223,223);
    border-radius:10px;
}
 